gpgpusim.config
output/
bin/
build/
models/
*.ptx
*.ptxas
*.icnt 
*.1
_app_cuda_version_*
_cuobjdump_list_ptx_*
gpgpu_inst_stats.txt 
packetWatchOut_.txt

slurm/*/.commands*
slurm/*/.env 
slurm/*/lines
slurm/*/trace
